.flex-3-1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    > * {
        width: 100%;
    }

    @include lg {
        flex-direction: row;
        > * {           
            width: calc(100%/3);
        }
    }
}

