// VARIABLES
@import 'styles/variables/fonts';
@import 'styles/variables/colors';
@import 'styles/variables/shadows';

// MIXINS
@import 'styles/mixins/breakpoints';

// FLEX
@import 'styles/flex/flex-4-2-1';
@import 'styles/flex/flex-3-1';
@import 'styles/flex/flex-2-1';

// SECTIONS


//COMPONENTS
@import 'styles/components/octogon_background';

body {
    background: $color-white-01;
    color: black;
    font-family: $tg-space-grotesk;
    min-height: 100vh;

}

.min-h-screen{
    width: 100vw;
    overflow-x: hidden;
}

section{
  position: relative;
  overflow-y: hidden;
}

video {
    max-width: none;
}

button {
    background: $color-blue-gradient-01;
    border: 1px solid $color-blue-01;
    box-shadow: $shadow-01;
    border-radius:50px;
    font-size: 1.5rem;
    padding: 10px 20px;
    transition: background .2s, border .2s, color .2s;
    cursor: pointer;
}

button:hover {
    background: transparent;
    border: 1px solid white;
}

.button-white-bg:hover{
  background: transparent;
  border: 1px solid $color-blue-01;
  color: $color-blue-01;
}

form {
  > * {
    margin-top: 15px;
  }
}

input, textarea{
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  color: $color-gray-01;
  border-radius: 10px;
  box-shadow: $shadow-01;
  width: 100%;
  padding: 10px;
}

// BACKROUND COLORS

.bg-color-blue-gradient-01 {
    background: $color-blue-gradient-01;
}

// HOVER TRANSITIONS

//Hover opacity

.hover-opacity {
    opacity: 1;
    transition: opacity .2s;
}

.hover-opacity:hover {
    opacity: 0.6;
}

.hover-up-and-bright{
  filter: brightness(1);
  transform: translateY(0);
  transition: filter .2s, transform .2s;
}
.hover-up-and-bright:hover{
  filter: brightness(1.2);
  transform: translateY(-5%);
  }

// TRANSITIONS

//Rotate back and disappear

.rotate-back-and-disappear {
  opacity: 1;
  transform: rotateX(0deg);
  transform-origin: left center;
  transition: transform 1s ease, opacity 1s ease;
}

.rotate-back-and-disappear-active {
  opacity: 0;
  transform: rotateX(90deg);
}

// fade-in

.fade-in {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.fade-in-active {
  opacity: 1;
}

