@font-face {
  font-family: "Space Grotesk";
  src: url("../../typography/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap; // recomendable para evitar FOUT
}

$tg-space-grotesk: "Space Grotesk", sans-serif;

@font-face {
  font-family: "Montserrat";
  src: url("../../typography/montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap; // recomendable para evitar FOUT
}

$tg-montserrat: "Montserrat", sans-serif;